.form-cadastro {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-cadastro h2 {
  font-family: 'Montserrat',;
  text-align: center;
  margin-bottom: 20px;
  color: #2e2e2e;
}

.form-cadastro h3 {
  font-family: 'Poppins',;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #01ae97;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.form-content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap; /* para responsividade */
}

.form-column {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.form-cadastro input[type="text"],
.form-cadastro input[type="number"],
.form-cadastro input[type="date"],
.form-cadastro select,
.form-cadastro textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
  transition: border-color 0.3s;
}

.form-cadastro input[type="text"]:focus,
.form-cadastro input[type="number"]:focus,
.form-cadastro input[type="date"]:focus,
.form-cadastro select:focus,
.form-cadastro textarea:focus {
  border-color: #00924e;
  outline: none;
}

.tratamento{
  margin-top: 50px;
}
.form-cadastro textarea {
  font-family: 'Poppins', sans-serif;
  min-height: 80px;
}

.form-column button {
  align-self: center;
  margin-top: 10px;
  width: 150px;
  padding: 12px;
  background-color: #ff8800;
  color: rgb(255, 255, 255);
  font-family: 'Poppins',;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-column button:hover {
  background-color: #00dd55;
}

/* Responsividade para telas pequenas */
@media (max-width: 640px) {
  .form-content {
    flex-direction: column;
  }

  .form-column {
    min-width: 100%;
  }

  .form-column button {
    width: 100%;
  }
}
